$prefix: 'ship-tag';
.#{$prefix} {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $black85;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  display: inline-block;
  height: auto;
  margin: 0 8px 0 0;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  background: $light;
  border: 1px solid $gray-400;
  border-radius: 2px;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
  &:hover {
    opacity: .85
  }
}


.#{$prefix},
.#{$prefix} a,
.#{$prefix} a:hover {
  color: $black85;
}

.#{$prefix}>a:first-child:last-child {
  display: inline-block;
  margin: 0 -8px;
  padding: 0 8px
}

.#{$prefix}-close-icon {
  margin-left: 3px;
  color: $black45;
  font-size: 10px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  &:hover {
    color: $black85;
  }
}

.#{$prefix}-has-color {
  border-color: transparent
}

.#{$prefix}-has-color,
.#{$prefix}-has-color .anticon-close,
.#{$prefix}-has-color .anticon-close:hover,
.#{$prefix}-has-color a,
.#{$prefix}-has-color a:hover {
  color: $white;
}

.#{$prefix}-checkable {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer
}

.#{$prefix}-checkable{
  &:not(.#{$prefix}-checkable-checked){
    &:hover {
      color: $primary;
    }
  }
}

.#{$prefix}-checkable-checked,
.#{$prefix}-checkable:active {
  color: $white;
}

.#{$prefix}-checkable-checked {
  background-color: $primary;
}

.#{$prefix}-checkable:active {
  background-color: darken($primary, 15%);
}

.#{$prefix}-hidden {
  display: none
}

.#{$prefix}>.anticon+span,.#{$prefix}>span+.anticon {
  margin-left: 7px
}

.#{$prefix}.#{$prefix}-rtl {
  margin-right: 0;
  margin-left: 8px;
  direction: rtl;
  text-align: right
}

.#{$prefix}-rtl .#{$prefix}-close-icon {
  margin-right: 3px;
  margin-left: 0
}

.#{$prefix}-rtl.#{$prefix}>.anticon+span,.#{$prefix}-rtl.#{$prefix}>span+.anticon {
  margin-right: 7px;
  margin-left: 0
}
