$prefix: 'ship-notification';
.#{$prefix} {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  color: $black85;
  font-size: $font-size-sm;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: fixed;
  z-index: 1010;
  margin: 0 24px 0 0;
}

.#{$prefix}-bottomLeft,
.#{$prefix}-topLeft {
  margin-right: 0;
  margin-left: 24px;
  .#{$prefix}-fade-appear.#{$prefix}-fade-appear-active,
  .#{$prefix}-fade-enter.#{$prefix}-fade-enter-active{
    -webkit-animation-name: NotificationLeftFadeIn;
    animation-name: NotificationLeftFadeIn;
  }
  .#{$prefix}-hook-holder,
  .#{$prefix}-notice {
    margin-right: auto;
    margin-left: 0;
  }
}

.#{$prefix}-close-icon {
  font-size: 14px;
  cursor: pointer;
}

.#{$prefix}-hook-holder,
.#{$prefix}-notice {
  position: relative;
  width: 384px;
  max-width: calc(100vw - 48px);
  margin-bottom: 16px;
  margin-left: auto;
  overflow: hidden;
  word-wrap: break-word;
  background: $white;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.#{$prefix}-hook-holder > .#{$prefix}-notice {
  margin-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.#{$prefix}-notice {
  padding: 16px 24px;
  line-height: 1.5715;
}

.#{$prefix}-notice-message {
  margin-bottom: 8px;
  color: $black85;
  font-size: 16px;
  line-height: 24px;
}

.#{$prefix}-notice-message-single-line-auto-margin {
  display: block;
  width: calc(264px - 100%);
  max-width: 4px;
  background-color: transparent;
  pointer-events: none;
  &:before {
    display: block;
    content: "";
  }
}

.#{$prefix}-notice-description {
  font-size: 14px;
}

.#{$prefix}-notice-closable {
  .#{$prefix}-notice-message {
    padding-right: 24px;
  }
}

.#{$prefix}-notice-with-icon {
  .#{$prefix}-notice-message {
    margin-bottom: 4px;
    margin-left: 48px;
    font-size: 16px;
  }
  .#{$prefix}-notice-description {
    margin-left: 48px;
    font-size: 14px;
  }
}

.#{$prefix}-notice-icon {
  position: absolute;
  margin-left: 4px;
  font-size: 24px;
  line-height: 24px;
}

.anticon.#{$prefix}-notice-icon-success {
  color: $success;
}

.anticon.#{$prefix}-notice-icon-info {
  color: $primary;
}

.anticon.#{$prefix}-notice-icon-warning {
  color: $warning;
}

.anticon.#{$prefix}-notice-icon-error {
  color: $danger;
}

.#{$prefix}-notice-close {
  position: absolute;
  top: 16px;
  right: 22px;
  color: $black45;
  outline: none;
  cursor: pointer;
}

.#{$prefix}-notice-close:hover {
  color: rgba(0, 0, 0, 0.67);
}

.#{$prefix}-notice-btn {
  float: right;
  margin-top: 16px;
}

.#{$prefix} .notification-fade-effect {
  -webkit-animation-duration: 0.24s;
  animation-duration: 0.24s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.#{$prefix}-fade-appear,
.#{$prefix}-fade-enter {
  opacity: 0;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.#{$prefix}-fade-appear,
.#{$prefix}-fade-enter,
.#{$prefix}-fade-leave {
  -webkit-animation-duration: 0.24s;
  animation-duration: 0.24s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.#{$prefix}-fade-leave {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.#{$prefix}-fade-appear.#{$prefix}-fade-appear-active,
.#{$prefix}-fade-enter.#{$prefix}-fade-enter-active {
  -webkit-animation-name: NotificationFadeIn;
  animation-name: NotificationFadeIn;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.#{$prefix}-fade-leave.#{$prefix}-fade-leave-active {
  -webkit-animation-name: NotificationFadeOut;
  animation-name: NotificationFadeOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes NotificationFadeIn {
  0% {
    left: 384px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes NotificationFadeIn {
  0% {
    left: 384px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes NotificationLeftFadeIn {
  0% {
    right: 384px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes NotificationLeftFadeIn {
  0% {
    right: 384px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes NotificationFadeOut {
  0% {
    max-height: 150px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 1;
  }

  to {
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}

@keyframes NotificationFadeOut {
  0% {
    max-height: 150px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 1;
  }

  to {
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}

.#{$prefix}-rtl {
  direction: rtl;
}

.#{$prefix}-rtl
  .#{$prefix}-notice-closable
  .#{$prefix}-notice-message {
  padding-right: 0;
  padding-left: 24px;
}

.#{$prefix}-rtl
  .#{$prefix}-notice-with-icon
  .#{$prefix}-notice-description,
.#{$prefix}-rtl
  .#{$prefix}-notice-with-icon
  .#{$prefix}-notice-message {
  margin-right: 48px;
  margin-left: 0;
}

.#{$prefix}-rtl .#{$prefix}-notice-icon {
  margin-right: 4px;
  margin-left: 0;
}

.#{$prefix}-rtl .#{$prefix}-notice-close {
  right: auto;
  left: 22px;
}

.#{$prefix}-rtl .#{$prefix}-notice-btn {
  float: left;
}
