$prefix: 'ship-progress';
.#{$prefix} {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $black85;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  display: inline-block
}

.#{$prefix}-line {
  position: relative;
  width: 100%;
  font-size: 14px
}

.#{$prefix}-steps {
  display: inline-block
}

.#{$prefix}-steps-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.#{$prefix}-steps-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: 2px;
  margin-right: 2px;
  background: #f3f3f3;
  -webkit-transition: all .3s;
  transition: all .3s
}

.#{$prefix}-steps-item-active {
  background: $primary;
}
.#{$prefix}-small{
  &.#{$prefix}-line{
    font-size: 12px;
    .#{$prefix}-text .anticon {
      font-size: 12px
    }
  }
}

.#{$prefix}-outer {
  display: inline-block;
  width: 100%;
  margin-right: 0;
  padding-right: 0
}

.#{$prefix}-show-info {
  .#{$prefix}-outer {
    margin-right: calc(-2em - 8px);
    padding-right: calc(2em + 8px)
  }
}

.#{$prefix}-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  background-color: $gray-200;
  border-radius: 100px;
  &:not(.#{$prefix}-circle-gradient) {
    .#{$prefix}-circle-path {
      stroke: $primary;
    }
  }
}

.#{$prefix}-circle-trail {
  stroke: $gray-200
}

.#{$prefix}-circle-path {
  -webkit-animation: ship-progress-appear .3s;
  animation: ship-progress-appear .3s
}

.#{$prefix}-bg,
.#{$prefix}-success-bg {
  position: relative;
  background-color: $primary;
  border-radius: 100px;
  -webkit-transition: all .4s cubic-bezier(.08,.82,.17,1) 0s;
  transition: all .4s cubic-bezier(.08,.82,.17,1) 0s
}

.#{$prefix}-success-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $success;
}

.#{$prefix}-text {
  display: inline-block;
  width: 2em;
  margin-left: 8px;
  color: $black45;
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  word-break: normal
}

.#{$prefix}-text .anticon {
  font-size: 14px
}

.#{$prefix}-status-active {
  .#{$prefix}-bg{
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      border-radius: 10px;
      opacity: 0;
      -webkit-animation: ship-progress-active 2.4s cubic-bezier(.23,1,.32,1) infinite;
      animation: ship-progress-active 2.4s cubic-bezier(.23,1,.32,1) infinite;
      content: ""
    }
  }
}

.#{$prefix}-status-exception {
  .#{$prefix}-bg {
    background-color: $danger
  }
  .#{$prefix}-text {
    color: $danger
  }
  .#{$prefix}-inner{
    &:not(.#{$prefix}-circle-gradient) {
      .#{$prefix}-circle-path {
        stroke: $danger
      }
    }
  }
}

.#{$prefix}-status-success {
  .#{$prefix}-bg {
    background-color: $success
  }
  .#{$prefix}-text {
    color: $success
  }
  .#{$prefix}-inner{
    &:not(.#{$prefix}-circle-gradient) {
      .#{$prefix}-circle-path {
        stroke: $success
      }
    }
  }
}

.#{$prefix}-circle {
  .#{$prefix}-inner {
    position: relative;
    line-height: 1;
    background-color: transparent
  }
  .#{$prefix}-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $black85;
    font-size: 1em;
    line-height: 1;
    white-space: normal;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
  }
  .#{$prefix}-text {
    .anticon {
      font-size: 1.16666667em
    }
  }
  &.#{$prefix}-status-exception{
    .#{$prefix}-text {
      color: $danger
    }
  }
  &.#{$prefix}-status-success {
    .#{$prefix}-text {
      color: $success
    }
  }
}

@-webkit-keyframes ship-progress-active {
  0% {
      width: 0;
      opacity: .1
  }

  20% {
      width: 0;
      opacity: .5
  }

  to {
      width: 100%;
      opacity: 0
  }
}

@keyframes ship-progress-active {
  0% {
      width: 0;
      opacity: .1
  }

  20% {
      width: 0;
      opacity: .5
  }

  to {
      width: 100%;
      opacity: 0
  }
}

.#{$prefix}-rtl {
  direction: rtl;
  &.#{$prefix}-show-info {
    .#{$prefix}-outer {
      margin-right: 0;
      margin-left: calc(-2em - 8px);
      padding-right: 0;
      padding-left: calc(2em + 8px)
    }
  }
  .#{$prefix}-success-bg {
    right: 0;
    left: auto
  }
  .#{$prefix}-line {
    .#{$prefix}-text,
    .#{$prefix}-text {
      margin-right: 8px;
      margin-left: 0;
      text-align: right
    }
  }
}

div.#{$prefix}-circle, 
div.#{$prefix}-line {
  margin-right: 8px;
  margin-bottom: 8px;
}