$prefix: 'ship-divider';
$prefix-horizontal: $prefix + '-horizontal';
$prefix-vertical: $prefix + '-vertical';
.#{$prefix} {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  border-top: 1px solid rgba(0,0,0,.06);
  width: 0px;
}

.#{$prefix-vertical} {
  position: relative;
  top: -.06em;
  display: inline-block;
  height: .9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid rgba(0,0,0,.06)
}

.#{$prefix-horizontal} {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 24px 0;
  &.#{$prefix}-with-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 0;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: rgba(0,0,0,.06);
    &::after,
    &::before {
      position: relative;
      top: 50%;
      width: 50%;
      border-top: 1px solid transparent;
      border-top-color: inherit;
      border-bottom: 0;
      -webkit-transform: translateY(50%);
      transform: translateY(50%);
      content: ""
    }
    &.#{$prefix}-dashed {
      border-top: 0
    }
    &.#{$prefix}-dashed:after,
    .#{$prefix}-dashed:before {
      border-style: dashed none none
    }
  }
  &.#{$prefix}-with-text-left{
    &::before {
      top: 50%;
      width: 5%
    }
  }
  &.#{$prefix}-with-text-left:after,
  &.#{$prefix}-with-text-right:before {
    top: 50%;
    width: 95%
  }
  .#{$prefix}-with-text-right{
    &::after {
      top: 50%;
      width: 5%
    }
  }
}

.#{$prefix}-inner-text {
  display: inline-block;
  padding: 0 1em
}

.#{$prefix}-dashed {
  background: 0 0;
  border: dashed rgba(0,0,0,.06);
  border-width: 1px 0 0
}


.#{$prefix-vertical}.#{$prefix}-dashed {
  border-width: 0 0 0 1px
}

.#{$prefix}-plain.#{$prefix}-with-text {
  color: rgba(0,0,0,.85);
  font-weight: 400;
  font-size: 14px
}

.#{$prefix}-rtl {
  direction: rtl;
  &.#{$prefix-horizontal} {
    &.#{$prefix}-with-text-left{
      &::before {
        width: 95%
      }
    }
    &.#{$prefix}-with-text-left:after,
    &.#{$prefix}-with-text-right:before {
      width: 5%
    }
    &.#{$prefix}-with-text-right{
      &::after {
        width: 95%
      }
    }
  }
}