$prefix: 'ship-modal';
.#{$prefix} {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $black85;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  pointer-events: none;
  position: relative;
  top: 100px;
  width: auto;
  max-width: calc(100vw - 32px);
  margin: 0 auto;
  padding: 0 0 24px;
  &.zoom-appear,
  &.zoom-enter {
    -webkit-transform: none;
    transform: none;
    opacity: 0;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
}

.#{$prefix}-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: $black45;
}

.#{$prefix}-mask-hidden {
  display: none
}

.#{$prefix}-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  z-index: 1000
}

.#{$prefix}-title {
  margin: 0;
  color: $black85;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word
}

.#{$prefix}-content {
  position: relative;
  background-color: $white;
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,.12),0 6px 16px 0 rgba(0,0,0,.08),0 9px 28px 8px rgba(0,0,0,.05);
  box-shadow: 0 3px 6px -4px rgba(0,0,0,.12),0 6px 16px 0 rgba(0,0,0,.08),0 9px 28px 8px rgba(0,0,0,.05);
  pointer-events: auto
}

.#{$prefix}-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  color: $black45;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

.#{$prefix}-close-x {
  display: block;
  width: 56px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  line-height: 56px;
  text-align: center;
  text-transform: none;
  text-rendering: auto
}

.#{$prefix}-close{
  &:focus,
  &:hover{
    color: $black75;
    text-decoration: none
  }
}

.#{$prefix}-header {
  padding: 16px 24px;
  color: $black85;
  background: $white;
  border-bottom: 1px solid $gray-300;
  border-radius: 2px 2px 0 0
}

.#{$prefix}-body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word
}

.#{$prefix}-footer {
  padding: 10px 16px;
  text-align: right;
  background: 0 0;
  border-top: 1px solid $gray-300;
  border-radius: 0 0 2px 2px
}

.#{$prefix}-footer button+button {
  margin-bottom: 0;
  margin-left: 8px
}

.#{$prefix}-open {
  overflow: hidden
}

.#{$prefix}-centered {
  text-align: center
}

.#{$prefix}-centered{
  &:before {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: ""
  }
}

.#{$prefix}-centered {
  .#{$prefix} {
    top: 0;
    display: inline-block;
    text-align: left;
    vertical-align: middle
  }
}

@media(max-width: 767px) {
  .#{$prefix} {
      max-width:calc(100vw - 16px);
      margin: 8px auto
  }

  .#{$prefix}-centered {
    .#{$prefix} {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1
  }
  }
}

.#{$prefix}-confirm {
  .#{$prefix}-header {
    display: none
  }
  .#{$prefix}-body {
    padding: 32px 32px 24px
  }
  .#{$prefix}-confirm-btns {
    float: right;
    margin-top: 24px
  }
  .#{$prefix}-confirm-btns button+button {
    margin-bottom: 0;
    margin-left: 8px
  }
}

.#{$prefix}-confirm-body-wrapper:before {
  display: table;
  content: ""
}

.#{$prefix}-confirm-body-wrapper:after {
  display: table;
  clear: both;
  content: ""
}

.#{$prefix}-confirm-body {
  .#{$prefix}-confirm-title {
    display: block;
    overflow: hidden;
    color: $black85;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4
  }
  .#{$prefix}-confirm-content {
    margin-top: 8px;
    color: $black85;
    font-size: 14px
  }
}

.#{$prefix}-confirm-body {
  >.anticon {
    float: left;
    margin-right: 16px;
    font-size: 22px;
    line-height: 20px;
  }
  >.anticon+.#{$prefix}-confirm-title+.#{$prefix}-confirm-content {
    margin-left: 38px
  }
}

.#{$prefix}-confirm-error {
  .#{$prefix}-confirm-body{
    >.anticon {
      color: $danger;
    }
  }
}

.#{$prefix}-confirm-confirm,
.#{$prefix}-confirm-warning {
  .#{$prefix}-confirm-body>.anticon {
    color: $warning;
  }
}

.#{$prefix}-confirm-info {
  .#{$prefix}-confirm-body>.anticon {
    color: $primary;
  }
}

.#{$prefix}-confirm-success {
  .#{$prefix}-confirm-body>.anticon {
    color: $success;
  }
}

.#{$prefix}-wrap-rtl {
  direction: rtl;
  .#{$prefix}-close {
    right: auto;
    left: 0
  }
  .#{$prefix}-footer {
    text-align: left
  }
  .#{$prefix}-footer button+button {
    margin-right: 8px;
    margin-left: 0
  }
  .#{$prefix}-confirm-body {
    direction: rtl
  }
  .#{$prefix}-confirm-body{
    >.anticon {
      float: right;
      margin-right: 0;
      margin-left: 16px;
      &+.#{$prefix}-confirm-title+.#{$prefix}-confirm-content {
        margin-right: 38px;
        margin-left: 0
      }
    }
  }
  
  .#{$prefix}-confirm-btns {
    float: left;
    button+button {
      margin-right: 8px;
      margin-left: 0
    }
  }
  &.#{$prefix}-centered {
    .#{$prefix} {
      text-align: right;
    }
  }
}
