$prefix: 'ship-drawer';
.#{$prefix} {
  position: fixed;
  z-index: 1000;
  width: 0;
  height: 100%;
  -webkit-transition: height 0s ease .3s,width 0s ease .3s,-webkit-transform .3s cubic-bezier(.7,.3,.1,1);
  transition: height 0s ease .3s,width 0s ease .3s,-webkit-transform .3s cubic-bezier(.7,.3,.1,1);
  transition: transform .3s cubic-bezier(.7,.3,.1,1),height 0s ease .3s,width 0s ease .3s;
  transition: transform .3s cubic-bezier(.7,.3,.1,1),height 0s ease .3s,width 0s ease .3s,-webkit-transform .3s cubic-bezier(.7,.3,.1,1);
  &>* {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.7,.3,.1,1),-webkit-box-shadow .3s cubic-bezier(.7,.3,.1,1);
    transition: -webkit-transform .3s cubic-bezier(.7,.3,.1,1),-webkit-box-shadow .3s cubic-bezier(.7,.3,.1,1);
    transition: transform .3s cubic-bezier(.7,.3,.1,1),box-shadow .3s cubic-bezier(.7,.3,.1,1);
    transition: transform .3s cubic-bezier(.7,.3,.1,1),box-shadow .3s cubic-bezier(.7,.3,.1,1),-webkit-transform .3s cubic-bezier(.7,.3,.1,1),-webkit-box-shadow .3s cubic-bezier(.7,.3,.1,1)
  }
  .#{$prefix}-content {
    width: 100%;
    height: 100%
  }
  .ship-picker-clear {
    background: $white;
  }
}

.#{$prefix}-content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%
}

.#{$prefix}-left,
.#{$prefix}-right {
  top: 0;
  width: 0;
  height: 100%;
  .#{$prefix}-content-wrapper {
    height: 100%
  }
  &.#{$prefix}-open {
    width: 100%;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.7,.3,.1,1);
    transition: -webkit-transform .3s cubic-bezier(.7,.3,.1,1);
    transition: transform .3s cubic-bezier(.7,.3,.1,1);
    transition: transform .3s cubic-bezier(.7,.3,.1,1),-webkit-transform .3s cubic-bezier(.7,.3,.1,1)
  }
}

.#{$prefix}-left {
  left: 0;
  .#{$prefix}-content-wrapper {
    left: 0
  }
  &.#{$prefix}-open{
    .#{$prefix}-content-wrapper {
      -webkit-box-shadow: 6px 0 16px -8px rgba(0,0,0,.08),9px 0 28px 0 rgba(0,0,0,.05),12px 0 48px 16px rgba(0,0,0,.03);
      box-shadow: 6px 0 16px -8px rgba(0,0,0,.08),9px 0 28px 0 rgba(0,0,0,.05),12px 0 48px 16px rgba(0,0,0,.03)
    }
  }
}

.#{$prefix}-right {
  right: 0;
  .#{$prefix}-content-wrapper {
    right: 0
  }
  &.#{$prefix}-open{
    .#{$prefix}-content-wrapper {
      -webkit-box-shadow: -6px 0 16px -8px rgba(0,0,0,.08),-9px 0 28px 0 rgba(0,0,0,.05),-12px 0 48px 16px rgba(0,0,0,.03);
      box-shadow: -6px 0 16px -8px rgba(0,0,0,.08),-9px 0 28px 0 rgba(0,0,0,.05),-12px 0 48px 16px rgba(0,0,0,.03)
    }
    &.no-mask {
      right: 1px;
      -webkit-transform: translateX(1px);
      transform: translateX(1px)
    }
  }
}

.#{$prefix}-bottom,
.#{$prefix}-top {
  left: 0;
  width: 100%;
  height: 0%;
  .#{$prefix}-content-wrapper {
    width: 100%
  }
  &.#{$prefix}-open {
    height: 100%;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.7,.3,.1,1);
    transition: -webkit-transform .3s cubic-bezier(.7,.3,.1,1);
    transition: transform .3s cubic-bezier(.7,.3,.1,1);
    transition: transform .3s cubic-bezier(.7,.3,.1,1),-webkit-transform .3s cubic-bezier(.7,.3,.1,1)
  }
}

.#{$prefix}-top {
  top: 0;
  &.#{$prefix}-open{
    .#{$prefix}-content-wrapper {
      -webkit-box-shadow: 0 6px 16px -8px rgba(0,0,0,.08),0 9px 28px 0 rgba(0,0,0,.05),0 12px 48px 16px rgba(0,0,0,.03);
      box-shadow: 0 6px 16px -8px rgba(0,0,0,.08),0 9px 28px 0 rgba(0,0,0,.05),0 12px 48px 16px rgba(0,0,0,.03)
    }
  }
}

.#{$prefix}-bottom {
  bottom: 0;
  .#{$prefix}-content-wrapper {
    bottom: 0
  }
  &.#{$prefix}-open{
    .#{$prefix}-content-wrapper {
      -webkit-box-shadow: 0 -6px 16px -8px rgba(0,0,0,.08),0 -9px 28px 0 rgba(0,0,0,.05),0 -12px 48px 16px rgba(0,0,0,.03);
      box-shadow: 0 -6px 16px -8px rgba(0,0,0,.08),0 -9px 28px 0 rgba(0,0,0,.05),0 -12px 48px 16px rgba(0,0,0,.03)
    }
    &.no-mask {
      bottom: 1px;
      -webkit-transform: translateY(1px);
      transform: translateY(1px)
    }
  }
}

.#{$prefix}{
  &.#{$prefix}-open {
    .#{$prefix}-mask {
      height: 100%;
      opacity: 1;
      -webkit-transition: none;
      transition: none;
      -webkit-animation: antdDrawerFadeIn .3s cubic-bezier(.7,.3,.1,1);
      animation: antdDrawerFadeIn .3s cubic-bezier(.7,.3,.1,1);
      pointer-events: auto
    }
  }
}

.#{$prefix}-title {
  margin: 0;
  color: $black85;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px
}

.#{$prefix}-content {
  position: relative;
  z-index: 1;
  overflow: auto;
  background-color: $white;
  background-clip: padding-box;
  border: 0
}

.#{$prefix}-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 20px;
  color: $black45;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
  text-rendering: auto;
  &:focus,
  .#{$prefix}-close{
    &:hover {
      color: $black75;
      text-decoration: none
    }
  }
}

.#{$prefix}-header-no-title {
  .#{$prefix}-close {
    margin-right: var(--scroll-bar);
    padding-right: calc(20px - var(--scroll-bar))
  }
}

.#{$prefix}-header {
  position: relative;
  padding: 16px 24px;
  border-bottom: 1px solid $gray-300;
  border-radius: 2px 2px 0 0
}

.#{$prefix}-header,
.#{$prefix}-header-no-title {
  color: $black85;
  background: $white;
}

.#{$prefix}-wrapper-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%
}

.#{$prefix}-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 24px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word
}

.#{$prefix}-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 10px;
  border-top: 1px solid $gray-300;
}

.#{$prefix}-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: $black45;
  opacity: 0;
  filter: alpha(opacity=45);
  -webkit-transition: opacity .3s linear,height 0s ease .3s;
  transition: opacity .3s linear,height 0s ease .3s;
  pointer-events: none
}

.#{$prefix}-open-content {
  -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,.12),0 6px 16px 0 rgba(0,0,0,.08),0 9px 28px 8px rgba(0,0,0,.05);
  box-shadow: 0 3px 6px -4px rgba(0,0,0,.12),0 6px 16px 0 rgba(0,0,0,.08),0 9px 28px 8px rgba(0,0,0,.05)
}

@-webkit-keyframes antdDrawerFadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes antdDrawerFadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.#{$prefix}-rtl {
  direction: rtl;
  .#{$prefix}-close {
    right: auto;
    left: 0
  }
}