$prefix: 'ship-timeline';
.#{$prefix} {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  margin: 0;
  padding: 0;
  list-style: none;
  &-item {
    position: relative;
    margin: 0;
    padding-bottom: 20px;
    font-size: 14px;
    list-style: none;
    &-tail {
      position: absolute;
      top: 10px;
      left: 4px;
      height: calc(100% - 10px);
      border-left: 2px solid #f0f0f0
    }
    &-pending {
      .#{$prefix}-item-head {
        font-size: 12px;
        background-color: transparent
      }
      .#{$prefix}-item-tail {
        display: none
      }
    }
    &-head {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border: 2px solid transparent;
      border-radius: 100px;
      &-blue {
        color: #1890ff;
        border-color: #1890ff
      }
      &-red {
        color: #ff4d4f;
        border-color: #ff4d4f
      }
      &-green {
        color: #52c41a;
        border-color: #52c41a
      }
      &-gray {
        color: rgba(0,0,0,.25);
        border-color: rgba(0,0,0,.25)
      }
      &-custom {
        position: absolute;
        top: 5.5px;
        left: 5px;
        width: auto;
        height: auto;
        margin-top: 0;
        padding: 3px 1px;
        line-height: 1;
        text-align: center;
        border: 0;
        border-radius: 0;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
      }
    }
    &-content {
      position: relative;
      top: -7.001px;
      margin: 0 0 0 26px;
      word-break: break-word
    }
    &-last{
      >.#{$prefix}-item-tail {
        display: none
      }
      >.#{$prefix}-item-content {
        min-height: 48px
      }
    }
  }
}

.#{$prefix}{
  &.#{$prefix}-alternate,
  &.#{$prefix}-label,
  &.#{$prefix}-right{
    .#{$prefix}-item-head,
    .#{$prefix}-item-head-custom,
    .#{$prefix}-item-tail {
      left: 50%;
    }
    .#{$prefix}-item-head {
      margin-left: -4px;
    }
    .#{$prefix}-item-head-custom {
      margin-left: 1px;
    }
    .#{$prefix}-item-left{
      .#{$prefix}-item-content {
        left: calc(50% - 4px);
        width: calc(50% - 14px);
        text-align: left;
      }
    }
    .#{$prefix}-item-right{
      .#{$prefix}-item-content {
        width: calc(50% - 12px);
        margin: 0;
        text-align: right;
      }
    }
  }
  &.#{$prefix}-right{
    .#{$prefix}-item-right{
      .#{$prefix}-item-head,
      .#{$prefix}-item-head-custom,
      .#{$prefix}-item-tail {
        left: calc(100% - 6px);
      }
      .#{$prefix}-item-content {
        width: calc(100% - 18px);
      }
    }
  }
  &.#{$prefix}-pending{
    .#{$prefix}-item-last{
      .#{$prefix}-item-tail {
        display: block;
        height: calc(100% - 14px);
        border-left: 2px dotted #f0f0f0
      }
    }
  }
  &.#{$prefix}-reverse{
    .#{$prefix}-item-last{
      .#{$prefix}-item-tail {
        display: none
      }
    }
    .#{$prefix}-item-pending{
      .#{$prefix}-item-tail {
        top: 15px;
        display: block;
        height: calc(100% - 15px);
        border-left: 2px dotted #f0f0f0
      }
      .#{$prefix}-item-content {
        min-height: 48px
      }
    }
  }
  &.#{$prefix}-label{
    .#{$prefix}-item-label {
      position: absolute;
      top: -7.001px;
      width: calc(50% - 12px);
      text-align: right;
    }
    .#{$prefix}-item-right{
      .#{$prefix}-item-label {
        left: calc(50% + 14px);
        width: calc(50% - 14px);
        text-align: left;
      }
    }
  }
}

.#{$prefix}-rtl {
  direction: rtl;
  .#{$prefix}-item-tail {
    right: 4px;
    left: auto;
    border-right: 2px solid #f0f0f0;
    border-left: none
  }
  .#{$prefix}-item-head-custom {
    right: 5px;
    left: auto;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%)
  }
  .#{$prefix}-item-content {
    margin: 0 18px 0 0
  }
  &.#{$prefix}{
    &.#{$prefix}-alternate,
    &.#{$prefix}-label,
    .#{$prefix}-right{
      .#{$prefix}-item-head,
      .#{$prefix}-item-head-custom,
      .#{$prefix}-item-tail {
        right: 50%;
        left: auto
      }
      .#{$prefix}-item-head {
        margin-right: -4px;
        margin-left: 0
      }
      .#{$prefix}-item-head-custom {
        margin-right: 1px;
        margin-left: 0
      }
      .#{$prefix}-item-left{
        .#{$prefix}-item-content {
          right: calc(50% - 4px);
          left: auto;
          text-align: right
        }
      }
      .#{$prefix}-item-right{
        .#{$prefix}-item-content {
          text-align: left
        }
      }
    }
    &.#{$prefix}-right{
      .#{$prefix}-item-right{
        .#{$prefix}-item-head,
        .#{$prefix}-item-head-custom,
        .#{$prefix}-item-tail {
          right: 0;
          left: auto
        }
        .#{$prefix}-item-content {
          width: 100%;
          margin-right: 18px;
          text-align: right
        }
      }
    }
    &.#{$prefix}-pending .#{$prefix}-item-last,
    &.#{$prefix}-reverse .#{$prefix}-item-pending{
      .#{$prefix}-item-tail {
        border-right: 2px dotted #f0f0f0;
        border-left: none
      }
    }
    &.#{$prefix}-labe{
      .#{$prefix}-item-label {
        text-align: left
      }
      .#{$prefix}-item-right{
        .#{$prefix}-item-label {
          right: calc(50% + 14px);
          text-align: right
        }
      }
    }
  }
}
