$prefix: 'ship-result';
.#{$prefix} {
  padding: 48px 32px;
  &-success .#{$prefix}-icon>.anticon {
    color: $success;
  }
  &-error .#{$prefix}-icon>.anticon {
    color: $danger;
  }
  &-info .#{$prefix}-icon>.anticon {
    color: $primary;
  }
  &-warning .#{$prefix}-icon>.anticon {
    color: $warning;
  }
  &-image {
    width: 250px;
    height: 295px;
    margin: auto
  }
  &-icon {
    margin-bottom: 24px;
    text-align: center;
    >.anticon {
      font-size: 72px
    }
  }
  &-title {
    color: $black85;
    font-size: 24px;
    line-height: 1.8;
    text-align: center
  }
  &-subtitle {
    color: $black45;
    font-size: 14px;
    line-height: 1.6;
    text-align: center
  }
  &-extra {
    margin: 24px 0 0;
    text-align: center;
    >* {
      margin-right: 8px
    }
    >:last-child {
      margin-right: 0
    }
  }
  &-content {
    margin-top: 24px;
    padding: 24px 40px;
    background-color: $gray-100;
  }
}

.#{$prefix}-rtl {
  direction: rtl;
  .#{$prefix}-extra{
    >* {
      margin-right: 0;
      margin-left: 8px
    }
    >:last-child {
      margin-left: 0
    }
  }
}