
.ship-checkbox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: relative;
  top: -.09em;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  cursor: pointer
}

.ship-checkbox-input:focus+.ship-checkbox-inner,.ship-checkbox-wrapper:hover .ship-checkbox-inner,.ship-checkbox:hover .ship-checkbox-inner {
  border-color: #1890ff
}

.ship-checkbox-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #1890ff;
  border-radius: 2px;
  visibility: hidden;
  -webkit-animation: antCheckboxEffect .36s ease-in-out;
  animation: antCheckboxEffect .36s ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  content: ""
}

.ship-checkbox-wrapper:hover .ship-checkbox:after,.ship-checkbox:hover:after {
  visibility: visible
}

.ship-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  direction: ltr;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  border-collapse: separate;
  -webkit-transition: all .3s;
  transition: all .3s
}

.ship-checkbox-inner:after {
  position: absolute;
  top: 50%;
  left: 22%;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg) scale(0) translate(-50%,-50%);
  transform: rotate(45deg) scale(0) translate(-50%,-50%);
  opacity: 0;
  -webkit-transition: all .1s cubic-bezier(.71,-.46,.88,.6),opacity .1s;
  transition: all .1s cubic-bezier(.71,-.46,.88,.6),opacity .1s;
  content: " "
}

.ship-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0
}

.ship-checkbox-checked .ship-checkbox-inner:after {
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg) scale(1) translate(-50%,-50%);
  transform: rotate(45deg) scale(1) translate(-50%,-50%);
  opacity: 1;
  -webkit-transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
  transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
  content: " "
}

.ship-checkbox-checked .ship-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff
}

.ship-checkbox-disabled {
  cursor: not-allowed
}

.ship-checkbox-disabled.ship-checkbox-checked .ship-checkbox-inner:after {
  border-color: rgba(0,0,0,.25);
  -webkit-animation-name: none;
  animation-name: none
}

.ship-checkbox-disabled .ship-checkbox-input {
  cursor: not-allowed
}

.ship-checkbox-disabled .ship-checkbox-inner {
  background-color: #f5f5f5;
  border-color: #d9d9d9!important
}

.ship-checkbox-disabled .ship-checkbox-inner:after {
  border-color: #f5f5f5;
  border-collapse: separate;
  -webkit-animation-name: none;
  animation-name: none
}

.ship-checkbox-disabled+span {
  color: rgba(0,0,0,.25);
  cursor: not-allowed
}

.ship-checkbox-disabled:hover:after,.ship-checkbox-wrapper:hover .ship-checkbox-disabled:after {
  visibility: hidden
}

.ship-checkbox-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  display: inline-block;
  line-height: unset;
  cursor: pointer
}

.ship-checkbox-wrapper.ship-checkbox-wrapper-disabled {
  cursor: not-allowed
}

.ship-checkbox-wrapper+.ship-checkbox-wrapper {
  margin-left: 8px
}

.ship-checkbox+span {
  padding-right: 8px;
  padding-left: 8px
}

.ship-checkbox-group {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  display: inline-block
}

.ship-checkbox-group-item {
  display: inline-block;
  margin-right: 8px
}

.ship-checkbox-group-item:last-child {
  margin-right: 0
}

.ship-checkbox-group-item+.ship-checkbox-group-item {
  margin-left: 0
}

.ship-checkbox-indeterminate .ship-checkbox-inner {
  background-color: #fff;
  border-color: #d9d9d9
}

.ship-checkbox-indeterminate .ship-checkbox-inner:after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #1890ff;
  border: 0;
  -webkit-transform: translate(-50%,-50%) scale(1);
  transform: translate(-50%,-50%) scale(1);
  opacity: 1;
  content: " "
}

.ship-checkbox-indeterminate.ship-checkbox-disabled .ship-checkbox-inner:after {
  background-color: rgba(0,0,0,.25);
  border-color: rgba(0,0,0,.25)
}

.ship-checkbox-rtl {
  direction: rtl
}

.ship-checkbox-group-rtl .ship-checkbox-group-item {
  margin-right: 0;
  margin-left: 8px
}

.ship-checkbox-group-rtl .ship-checkbox-group-item:last-child {
  margin-left: 0!important
}

.ship-checkbox-group-rtl .ship-checkbox-group-item+.ship-checkbox-group-item {
  margin-left: 8px
}
