.alert-demo .alert{
  margin-bottom: 16px;
}

.row-demo .col{
  background: rgba(0,146,255,.75);
  min-height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 0;
  padding: 16px 0;
}

.row-demo .col:nth-child(2){
  background: #0092ff;
}