$prefix: 'ship-message';
.#{$prefix} {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
}

.#{$prefix}-notice {
  padding: 8px;
  text-align: center;
}

.#{$prefix}-notice-content {
  display: inline-block;
  padding: 10px 16px;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: all;
}

.#{$prefix}-success .anticon {
  color: $success;
}

.#{$prefix}-error .anticon {
  color: $danger;
}

.#{$prefix}-warning .anticon {
  color: $warning;
}

.#{$prefix}-info .anticon,
.#{$prefix}-loading .anticon {
  color: $primary;
}

.#{$prefix} .anticon {
  position: relative;
  top: 1px;
  margin-right: 8px;
  font-size: 16px;
}

.#{$prefix}-notice.move-up-leave.move-up-leave-active {
  -webkit-animation-name: MessageMoveOut;
  animation-name: MessageMoveOut;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@keyframes MessageMoveIn {
  0% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }

  to {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
}

@-webkit-keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }

  to {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}

@keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }

  to {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}

.#{$prefix}-rtl,
.#{$prefix}-rtl span {
  direction: rtl;
}

.#{$prefix}-rtl .anticon {
  margin-right: 0;
  margin-left: 8px;
}
